*.exe
*.elf
*.self
*.pkg
*.bin
*.o
*.a
*.d
*.so
*.dll
*.task
*.elf.map
*.fpo*
*.vpo*
build/
.idea/
.vscode/
common/libspumars/ppu/ppu/
common/libspumars/spu/spu/
ppu/sprx/libaudio/ppu/
ppu/sprx/libcamera/ppu/
ppu/sprx/libgcm_sys/ppu/
ppu/sprx/libgem/ppu/
ppu/sprx/libhttp/ppu/
ppu/sprx/libhttputil/ppu/
ppu/sprx/libio/ppu/
ppu/sprx/libjpgdec/ppu/
ppu/sprx/liblv2/ppu/
ppu/sprx/libnet/ppu/
ppu/sprx/libpngdec/ppu/
ppu/sprx/libresc/ppu/
ppu/sprx/libspurs/ppu/
ppu/sprx/liblv2dbg/ppu/
ppu/sprx/libnetctl/ppu/
ppu/sprx/libssl/ppu/
ppu/sprx/libsysfs/ppu/
ppu/sprx/libsysmodule/ppu/
ppu/sprx/libsysutil/ppu/
ppu/sprx/libusb/ppu/
ppu/sprx/libvdec/ppu/
ppu/sprx/libfont/ppu/
ppu/sprx/libfontFT/ppu/
tools/generic/bin2s
tools/cgcomp/cgcomp
tools/geohot/make_self
tools/geohot/make_self_npdrm
tools/geohot/package_finalize
tools/ps3load/ps3load
tools/raw2h/raw2h
tools/sprxlinker/sprxlinker
tools/fself/fself
